@charset "utf-8";
/*Глобальные стили */ 
* {
	margin: 0;
	padding: 0; 
	outline: none; /*Отключение обводки на страничке*/
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	color: #333;
	background: #f7f7f7;
	font-size: 1em;
	font-family: "Segoe UI" sans-serif;
	line-height: 135%;
}

a {
	color: #f48b8b ;
	text-decoration: none;
	transition: all.6s ease; /* Свойство для мигающей ссылки */
	-moz-transition: all.6s ease; /* Свойство для мигающей ссылки в браузере мозила*/
	-webkit-transition: all.6s ease; /* Свойство для мигающей ссылки в браузере сафари*/
	-ms-transition: all.6s ease; /* Свойство для мигающей ссылки в остальных браузерах*/
}

a:hover {
	color: #916DED ;
	text-decoration: none;
	transition: all.6s ease; /* Свойство для мигающей ссылки */
	-moz-transition: all.6s ease; /* Свойство для мигающей ссылки в браузере мозила*/
	-webkit-transition: all.6s ease; /* Свойство для мигающей ссылки в браузере сафари*/
	-ms-transition: all.6s ease; /* Свойство для мигающей ссылки в остальных браузерах*/
}

a:active { color: #86E0AC; }

.left {float: left;}
.right {float: right;}
.clear{clear: both;}

/* Блок для стилей при выделении текста */

::selection { background: #e14f7f; color: #fff; };
::-moz-selection { background: #e14f7f; color: #fff; };

/* Стили для шапки*/
header, footer {
	width: 100%;
	background-color: #fff;
	min-height: 70px;
	float: left;
}

header {
	border-bottom: 2px solid silver;
	padding: 1%;
}

.society {
	width: 5%;
	float: left;
	margin-right: 5px;
}

#logo {
	font-size: 2em;
	font-family: Comic Sans MS;
	color: silver;
}

.contact, .reg, .login {
	font-size: 1.5em;
	font-family: Comic Sans MS;
	margin-left: 20px;
}

input[type="text"].field {
	border-radius: 2px;
	border: 2px solid silver;
	padding: 5px;
	margin-left: 20px;
}

input[type="text"].field:focus {  /*Стиль для указания свойств, когда мышка будет на поле*/
	border: 2px solid #f48b8b;
}

#menu {
	color: #666;
	font-family: Comic Sans MS, sans-serif;
	font-size: 1.7em;
	margin-top: 10px;
}

#menu hr {
	width: 500px;
	max-width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
}

#menuHrefs a {
	padding: 5px;
	border-radius: 5px;
	margin-right: 5px;
	color: #626262;
}

#menuHrefs a:hover {
	background-color: #EAEAEA;
}

hr {
	display: block;
	border: 0px;
	height: 1px;
	border-top: 1px solid #ccc;
	padding: 0px;
}
/* Основные стили для сайта*/

#wrapper {
	float: left;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

#wrapper article {
	float: center;
	width: 95%;
	margin-left: 2.5%;
	height: 735px;
	border: 1px solid silver;
	box-sizing: border-box;
	border-radius: 10px;
	background: url();
}

#wrapper article img {

}

/*Стили для футера */ 
footer {
	padding: 1%;
	border-top: 2px solid silver;
	margin-top: 10px;
	height: auto;
	padding-bottom: 2%;
}

#page-wrap: after {
	content: "";
	display: block;
}

footer, #page-wrap:after {height: 10px;}

#page-wrap {
	min-height: 94%;
	margin-bottom: -10px;
}